* {
	margin:2px;
	font-family: Arial;

}

body{
	color: #89a98e;
	background-color: #f1f1f1;
}

button, input, select{
	border-radius: 4px;
	border-width: 2px;
	padding: 3px;
	border-style: solid;
	width:100%;
	margin-bottom:15px;
	border-color: #89a98e;
}

button{
	padding-left: 10px;
	padding-right: 10px;
}

.box:before, .cf:before,
.box:after, .cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.box:after, .cf:after {
  clear: both;
}

/**
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/
.box, .cf {
  *zoom: 1;
}

.container{
	width:450px;
	margin:auto;
	text-align: center;
}

.box{
	position: relative;
	border-radius: 10px;
	border-style: solid;
	border-width: 2px;
	padding: 15px;
	margin-bottom: 15px;
}

.simpleTask{
	color: #F0B27A;
}

.timeBased{
	color: #F1948A;
}

.reminder{
	color: #85929E;
}

.task-description{
	text-align:left;
	float: left;
	width: 77%;
}

.task-check-box{
	width: 5%;
	float: left;
}

.mark-as-complete{
	margin: 2px;
}

.task-status{
	position: absolute;
	height: 100%;
	width: 18%;
	top: -2px;
	bottom: 0;
	right: -2px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.task-status:before {
	content:' ';
	position: relative;
	display: inline-block;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.pending:before{
	content: 'Pending';
}

.complete:before{
	content: 'Complete';
}

.complete{
	background-color: rgba(40, 180, 99, 0.18);
	color: #1D8348;
}

.pending{
	background-color: rgba(93, 173, 226, 0.18);
	color: #2874A6;
}

.success{
	background-color: #89a98e;
	border-color: #89a98e;
}

.simpleTask:before,
.timeBased:before,
.reminder:before {
	position:absolute;
	top:-11px;
	background-color:#f1f1f1;
}

.simpleTask:before{
	content:"Simple Task";
	width: 90px;
}

.timeBased:before{
	content:"Time Based";
	width: 85px;
}

.reminder:before {
	content:"Reminder";
	width: 72px;
}
